

/* .text-sp {
    justify-content: center;
} */


/* Add styles for sections */
/* section {
    padding: 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  section.active {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add styles for navigation menu */
  .nav-link {
    color: #333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #cf000f;
  }
  
  .nav-link.active {
    color: #cf000f;
    font-weight: bold;
  }
  
  /* Add styles for progress bar */
  .vlt-fullpage-slider-progress-bar {
    position: fixed;
    z-index: 75;
    top: 50%;
    right: 1.875rem;
    width: 2px;
    height: 28.125rem;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-radius: .3125rem;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .vlt-fullpage-slider-progress-bar span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 100%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: scaleY (0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    border-radius: .3125rem;
    background-color: #cf000f;
  }

  /* starting here now */
  #logo {
    height: 30%;
    width: 30%;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.822);
    border: solid rgba(226, 222, 222, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(245, 237, 237, 0.1), inset 0 .125em .5em rgba(238, 226, 226, 0.15);
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.list-group {
    max-width: 460px;
    margin: 4rem auto;
}
/* html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    scroll-snap-align: start;
} */
